
body {        
    font-family: 'Titillium Web', sans-serif;
    background-color: #FFFCFA;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

main {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
}

header {
    background-color: #A2D7D2;
    height: 110px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    height: 100%;
    object-fit: contain;
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

.intro {
    padding-top: 4rem;
    text-align: center;
    font-size: 40px;
    width: 100%;
    background-color: #A2D7D2;
}

footer {
    background-color: #FAF0EA;
    padding: 10px;
}


.animal-image {
    cursor: pointer;
}


.animal1 {
    width: 500px;
    height: 400px;
}
